/* src/main.css */
/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

// @import '~tailwind-sass';

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

body{
  font-family: Lato,Arial,Helvetica,sans-serif !important;
}

.logo{
  margin-left: 10px;
}

.version-text{
  color: #616161;
  font-size: .8rem;
  position: relative;
  top: 4px;
  left: 5px;
}

.header-menu{
  margin-right: 20px;
}

.header-menu a{
  font-size: 15px;
  margin-left: 10px;
}

.animate__animated.animate__fadeInDown{
  --animate-duration: 0.5s;
}

.animate__animated.animate__fadeInUp{
  --animate-duration: 0.5s;
}

.error{
  color: var(--red);
  font-size: 13px;
  font-weight: bold;
}

.error_box{
  @apply bg-red-100 py-3 rounded-xl;
}

.blue-btn{
  @apply bg-blue-primary text-sm text-white font-bold rounded-3xl transition-all duration-500 hover:bg-opacity-90 hover:shadow-lg focus:outline-none;
}

.default-btn{
  @apply blue-btn py-2 px-10;
}

.big-default-btn{
  @apply blue-btn py-5 px-10 focus:outline-none;
}

.title{
  @apply text-blue-primary;
}

.big-title{
  @apply title text-xxl mt-20 font-bold;
}

.default-title{
  @apply title text-sm md:text-lg lg:text-txl mt-10;
}

.gray-line{
  @apply border-t border-solid border-gray-300;
}

.delete-position{
  right: 15px; top: 5px; position: absolute;
}

.delete-icon-style{
  @apply text-gray-400 relative cursor-pointer;
}

.popup-outer{
  top: 20px; left: 0; right: 0; margin-left: auto; margin-right: auto; max-width: 800px;
}

.modal-popup-box{
  @apply transition ease-in duration-300 w-popup px-10 py-7 bg-white rounded-3xl shadow-xl;
}

.page-title-gray-line{
  @apply mx-auto w-11/12 md:w-8/12 lg:w-9/12 mt-2 py-3 gray-line;
}

.text-icon{
  top:2px; height:20px; width:20px; border-width: 1px;
}

.text-icon-position{
  position: absolute; top: 3px; right: 5px;
}

.text-icon-outline{
  @apply border-blue-primary border-solid inline-block rounded-full relative flex-none ml-2;
}

.text-outline{
  @apply transition-all duration-200 group rounded-3xl border-solid w-full py-2 mb-1 flex;
}

.text-placeholder{
  @apply flex-grow p-1 text-xs placeholder-gray-500 focus:outline-none;
}

.drop-shadow{
  box-shadow: 0 0 4pt 2pt #CDE3FC;
}

.navbar{
  background: var(--blue);
  background: linear-gradient(180deg, #2C71BF 0%, #215590 80%);
  padding-top: 3px;

  a{
    font-weight: bold;
    font-size: 16px;
    display: block;
    padding: 2px 18px;
    padding-top: 5px;
    transition: all;
    transition-duration: 50ms;
    color: var(--white);
  }
}

.navbar{
  a.router-link-exact-active, a:hover{
    background:var(--white);
    color: var(--black) #{!important};
  }
}

@screen md {
  .navbar{
    a.router-link-exact-active, a:hover{
      background: linear-gradient(180deg, #2C71BF 0%, #215590 80%) !important;
      border-bottom: 3px solid var(--white);
      color: var(--white) #{!important};
    }

    a{
      display: inline-block;
      color: var(--white) #{!important};
    }
  }
}
.p-link{
  @apply text-gray-400 p-2 mt-5;
}

.p-highlight{
  @apply text-white inline bg-blue-primary rounded-sm px-3;
}

.p-datatable-wrapper{
  margin-bottom: 20px;
  overflow-x: auto;
}

.p-datatable-thead{
  @apply bg-black text-white text-xs;
  th{
    font-weight: normal; text-align: left; padding: 8px 20px;
  }
}

.p-datatable-tbody{
  td{
    text-align: left; padding: 8px 20px; font-size: 12px; cursor: pointer;
  }

  tr:nth-child(2n+1){
    td{
      @apply bg-gray-100
    }
  }

  tr:nth-child(2n){
    td{
      @apply bg-gray-200
    }
  }
}